# Auto detect text files and perform LF normalization
* text=auto

# Específicamente para archivos SQL
*.sql text eol=lf

# Archivos de texto
*.txt text
*.py text
*.md text
*.html text
*.css text
*.js text

# Archivos binarios
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary