# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/

# Variables de entorno
.env

# Base de datos
*.db
*.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Carpetas de IDE
.vscode/
.idea/